<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{asset 'css/pilcrow.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/hljs-github.min.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/style.css'}}"/>
  </head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-3">
        <div style="position:fixed;height:calc(100% - 120px)">
          <div class="btn-group btn-toggle" id="lang-toggle" style="margin-left:15px;"> 
            <button class="btn btn-lg btn-default btn-objc">Objective-C</button>
            <button class="btn btn-lg btn-default btn-swift">Swift</button>
          </div>
          <p>&nbsp;</p>
          {{~> toc }}
        </div>
      </div>
      <div class="col-xs-9 main">
        {{~> content}}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{asset 'js/bootstrap.min.js'}}"></script>
  <script>
    $('#lang-toggle').click(function(evt) {
        $(evt.target).blur()

        if($(evt.target).hasClass('active')) { return; }
        $(this).find('.btn').toggleClass('active');  

        if($(this).find('.active').text().toLowerCase() == 'swift') {
          $('.objc').css('display', 'none')
          $('.swift').css('display', 'block')

          window.localStorage.setItem('lang', 'swift')
        } else {
          $('.objc').css('display', 'block')
          $('.swift').css('display', 'none')

          window.localStorage.setItem('lang', 'objc')
        }          
    })

    $(function() {
      var lang = window.localStorage.getItem('lang')
      if(!lang) { lang = 'objc' }

      $('.btn-' + lang).addClass('active')

      console.log(lang)
      
      if(lang == 'objc') {
        $('.swift').css('display', 'none')
      } else {
        $('.objc').css('display', 'none')
      }

    })
  </script>
</body>
</html>
